header, main, footer {
    padding-left: 300px;
}

body {
    padding: 0px;
}

#maincontainer {
    padding-left: 300px;
    top: 0px;
    background-color: #fcf9f9;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.leftnav {
    background-color: #333333;
}

.menuoption {
    color: white !important;
    font-size: 18px;
}

.logocl {
    width: 200px;
    padding: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
}

h1 {
    color: #333333;
    margin: 30px;
}

.banner {
    background-color: #c6bc5f;
}

.upperbanner {
    height: 40px;
}

.editbutton {
    background-color: #ffe600;
    color: #333333;
}

.myIcon {
    color: #333333 !important;
}

#backyellow {
    height: 300px;
    width: 900px;
    color: #ffe600;
    position: fixed;
    z-index: 0;
}