header, main, footer {
    padding-left: 300px;
}

body {
    padding: 0px;
}

#maincontainer {
    padding-left: 320px;
    padding-right: 20px;
    top: 0px;
    background-color: #fcf9f9;
    position: absolute;
    z-index: -2;
    width: 100%;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.leftnav {
    background-color: #333333;
}

.menuoption {
    color: white !important;
    font-size: 18px;
}

.logocl {
    width: 200px;
    padding: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
}

h1 {
    color: #333333;
    margin: 20px;
    font-size: 4em;
    font-weight: bolder;

}

.banner {
    background-color: #c6bc5f;
}

.upperbanner {
    height: 40px;
}

.editbutton {
    background-color: #ffe600;
    color: #333333;
}

.myIcon {
    color: #333333 !important;
}

#backyellow {
    height: 500px;
    width: 2000px;
    background-color: #ffe600;
    position: fixed;
    top: 0px;
    z-index: -1;
    overflow: visible;
    left: 0px;
    transform: rotate(-10deg);
}

.zcolumns {
    position: relative; 
    z-index: 999 !important;
}

.submitbtn {
    color: #333333 !important;
    font-weight: bolder;
}

.submitbtn:hover {
    background-color: navajowhite !important;
}